---
import Login from "src/components/login.jsx";
---./components/login.jsx
import Login from "quantum-media-main/src/components/login.jsx";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login | Quantum Media</title>
</head>
<body>
  <Login />
</body>
</html>